@use './variables.scss' as v;
@use './mixin.scss' as m;

.page__top {
  background: url('../assets/images/bg-header.jpg') center/cover no-repeat;
  margin-bottom: 10px;
}

.page__medium {
  background-color: v.$gray-dark;
  padding-bottom: 58px;
}

.page__medium-wrap {
  @include m.padding;
  @include m.wrap;
}

.page__sign-wrap {
  @include m.wrap;
  height: 100vh;
  background: url('../assets/images/bg-login.jpg') center/cover no-repeat;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: v.$black;
    opacity: 0.7;
    z-index: 1;
  }
}

.page__sign-wrap main {
  height: calc(100vh - 70px);

  display: flex;
  align-items: center;
}
