@use '../../global-styles/variables.scss' as v;

.find__button svg {
  fill: transparent;
}

.find__button {
  @media screen and (min-width: v.$width-768) {
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      transition: v.$transition;
    }
  }
}
